<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Document</title>
   <link rel="stylesheet" href="{% static 'style.css' %}">
  </link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>MOON SQUARE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    @keyframes exer {
      from {
        color: azure;
      }

      to {
        color: red;
      }

    }

    #mag {
      height: 600px;
      width: 100%;
    }

    .W3-red:hover {
      width: 100%;
      color: black;
    }

    #widdy {
      font-size: 200px;
      position: relative;
      bottom: 730px;
      left: 590px;

      color: azure;
      animation-name: exer;
      animation-duration: 10s;
      animation-iteration-count: infinite;



    }

    #art {
      width: 1019px;
      background-color: burlywood;
      height: 300px;

    }

    #ver {
      float: right;
    }

    #chef_box {

      border: 5px solid brown;
      width: 100%;
      height: 430px;
      background-color: white;
      position: relative;
      bottom: 260px;
      background-color: #121829;
    }

    #chef_text {

      font-size: 75px;
      position: relative;
      text-align: center;
      bottom: 260px;


    }

    #sizzy {

      height: 300px;
    }

    .line:hover {
      text-decoration-line: none;
    }

    #sizzy1 {
      height: 300px;
    }

    #sizzy2 {
      height: 300px;
    }

    .cappy {
      position: relative;
      left: 70px;
      font-size: large;

    }
    #footy{
        background-color: dimgray;
    }
    #foot1{
        float: left;
        height: 25px;
        
    }
  </style>
</head>

<body>
  <nav id="nac" class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="#">𝐹𝑜𝑜𝒹 𝐹𝒶𝒸𝓉𝑜𝓇𝓎</a>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/menu" id="navy">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" id="navy">about</a>
          </li>
       
        <li class="nav-item">
          <a class="nav-link" href="/join" id="navy">Join us</a>
        </li>    
      
          <li class="nav-item">
            <a class="nav-link" href="/test" id="navy">Book</a>
          </li> 

          
      </ul>
    </div>  
  </nav>

  <image id="mag" src="{% static 'back.jpg' %}">

    <section id="ver">
      <img width="500px" height="300px" src="{% static 'chef.jpg' %}">
      <!-- <h2 id="abouton">about</h2>
            <div class="w3-light-grey">
                <div class="w3-red" style="height:5px;width:0%"></div>
              </div><br>-->

    </section>
    <article id="art">
      <h1>A Few Words About </h1>

      <p style="font-size: large;">Welcome to Food Factory, where culinary excellence meets exceptional dining
        experiences.

        At Food Factory, we believe that food is not just nourishment; it is an art form that delights all the senses.
        Our team of passionate chefs, led by renowned culinary experts, creates a symphony of flavors that will
        transport you on a gastronomic journey like no other.

        With a focus on using only the finest and freshest ingredients, sourced locally and globally, we craft dishes
        that are both innovative and authentic. Our menu showcases a fusion of traditional and contemporary culinary
        techniques, resulting in captivating and mouthwatering creations that will leave you craving for more.

        But it's not just about the food.Our ultimate goal is to provide an exceptional dining experience that exceeds
        your expectations.
        We value our patrons and their satisfaction is at the heart of everything we do.
        Whether you're celebrating a special occasion, hosting a private event,
        or simply seeking a memorable culinary adventure,
        we invite you to join us on this extraordinary journey of flavors;
      </p>
    </article>


    <h1 id="widdy">about us </h1>
    <h1 id=chef_text>our honourable chefs are</h1>
    <div id="chef_box">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a class="line" href="{% static 'chef_lee.jpg' %}" target="_blank">
                <img id="sizzy" src="{% static 'chef_lee.jpg' %}" alt="cheflee" style="width:100%;">
                <div class="caption">
                  <h1 style="text-align: center;">𝓒𝓱𝓮𝓯 𝓛𝓮𝓮</h1>
                  <p class="cappy">Master of all chinese cuisines.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a class="line" href="{% static 'chef_alpacino.jpg' %}" target="_blank">
                <img id="sizzy2" src="{% static 'chef_alpacino.jpg' %}" alt="chef_alpacino"
                  style="width:100% ">
                <div class="caption">
                  <h1 style="text-align: center;">𝓒𝓱𝓮𝓯 𝓐𝓵-𝓹𝓪𝓬𝓲𝓷𝓸</h1>
                  <p class="cappy">Artist of italian cuisines </p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a class="line" href="{% static 'chef_kenducky.jpg' %}" target="_blank">
                <img id="sizzy1" src="{% static 'chef_kenducky.jpg' %}" alt="kenducky"
                  style="width:100%">
                <div class="caption">
                  <h1 style="text-align: center; ">𝓒𝓱𝓮𝓯 𝓡𝓪𝓱𝓲𝓶</h1>
                  <p class="cappy">Master of all indian cuisines</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="footy">
        <section>
          
          <div class="container">
            <div  class="row">
              <div id="col2" class="col-sm-4">
              <h1>Opening hours</h1>
              <h2>Everyday</h2>
              <h2>10.00AM-10.00PM</h2>
                
             
              </div>
    
            <div id="col2" class="col-sm-4">
              <h1 style="font-style: italic;">Food Factory</h1>
              <p>
                Indulge in a culinary experience of exquisite flavors and impeccable service.
                Our talented chefs craft dishes using the finest ingredients,
                paired with a curated selection of wines and handcrafted cocktails.
                 Join us for an unforgettable dining journey in the heart of coimbatore.
                  Reserve your table today and savor the moment.</p>
              </div>
        
          <div id="col1" class="col-sm-4">
          <h1>Contact</h1>
    
          <img id="foot1" src="{% static 'icons8-home-30.png' %}">
        
          <h2>Airport,coimbatore</h2>
          
          
          <h2><span class="glyphicon glyphicon-envelope"></span>foodfactory1885@gmail.com</h2>
          <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg> 0423-241189</h2>
        
    
          </div>
          </div>
    
          
          </div>
          <h1 style="text-align: center;">@2023 All Rights Reserved By Food Factory</h1>
          <h3 style="text-align: center;">@Distributed By AV groups</h3>
          <h2 style="text-align: center;">contact us through</h2>
          <div class="soclink">
          <i class="fa fa-instagram" style="font-size:48px;color:red"></i>
          <i class="fa fa-envelope" style="font-size:48px;color:white"></i>
          <i class="fa fa-whatsapp" style="font-size:48px;color:rgb(52, 134, 52)"></i>
          </div>
         
    
          </section>
        </footer>  
</body>

</html>