<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>MOON SQUARE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}"></link>
  <style>
    .biri{
      height: 450px;
    }
    </style>
</head>
<body>
            <h1 style="text-align: center; ">Biryani</h1>
            <h2>Chicken biryani</h2>
            
   <div>
               
  <div class="container-fluid">
    <div class="row">
      {% for data in Foods %}
      <div class="col-sm-4">
              <div class="card">
                <img class="biri" src="{{data.image.url}}" alt="" >
                <div class="card-body">
                  <h4 class="card-title">{{ data.name }}</h4>
                  <h2 class="card-text">Rs{{ data.price }}</h2>
                </div>
              </div>
      </div>
      
      {% endfor  %}
    </div>
    </div> 
  
    </div> 

    <h2>Mutton biryani</h2>
   


</body>
</html>